<section class="section">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img ng-src="Content/images/img1.jpg" alt=""/></div>
            <div class="swiper-slide"><img ng-src="Content/images/img2.jpg" alt=""/></div>
            <div class="swiper-slide"><img ng-src="Content/images/img3.jpg" alt=""/></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="nav">
        <dl class="col-xs-3">
            <dt>
                <i class="fa fa-suitcase"></i>
            </dt>
            <dd>车商城</dd>
        </dl>
        <dl class="col-xs-3">
            <dt style="background: #ff9d3e">
                <i class="fa fa-credit-card"></i>
            </dt>
            <dd>分期购车</dd>
        </dl>
        <dl class="col-xs-3">
            <dt>
                <i class="fa fa-money"></i>
            </dt>
            <dd>团购活动</dd>
        </dl>
        <dl class="col-xs-3">
            <dt style="background: #4183ff">
                <i class="fa fa-automobile"></i>
            </dt>
            <dd>找二手车</dd>
        </dl>
    </div>
    <div class="strip">
        <img ng-src="Content/images/img_02_02.jpg" alt=""/>
    </div>
    <div class="navigation">
        <h2>车主服务</h2>

        <div class="caption clearfix">
            <dl class="col-xs-3">
                <dt><i class="fa fa-address-book"></i></dt>
                <dd>油卡充值</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-bandcamp"></i></dt>
                <dd>低价保险</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-envelope-open-o"></i></dt>
                <dd>4S店</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-meetup"></i></dt>
                <dd>品质轮胎</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-ravelry"></i></dt>
                <dd>车品商城</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-snowflake-o"></i></dt>
                <dd>洗车</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-archive"></i></dt>
                <dd>违章代缴</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-bank"></i></dt>
                <dd>免费测评</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-calendar-minus-o"></i></dt>
                <dd>查周边</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-camera"></i></dt>
                <dd>车主卡</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-cloud-upload"></i></dt>
                <dd>领券保养</dd>
            </dl>
            <dl class="col-xs-3">
                <dt><i class="fa fa-futbol-o"></i></dt>
                <dd>全部</dd>
            </dl>
        </div>
        <h2>限时抢购 <p><span>13</span>:<span>13</span>:<span>13</span></p></h2>

        <div id="wrapper1">
            <div id="scroller1">
                <ul>
                    <li>
                        <p><img ng-src="Content/images/img_3.jpg" alt=""/></p>
                        <h4>补胎工具套装</h4>
                        <span>￥9.9元<small><strike>1.44万</strike></small></span>
                    </li>
                    <li>
                        <p><img ng-src="Content/images/img_2.jpg" alt=""/></p>
                        <h4>补胎工具套装</h4>
                        <span>￥9.9元<small><strike>1.44万</strike></small></span>
                    </li>
                    <li>
                        <p><img ng-src="Content/images/img_1.jpg" alt=""/></p>
                        <h4>补胎工具套装</h4>
                        <span>￥9.9元<small><strike>1.44万</strike></small></span>
                    </li>
                    <li>
                        <p><img ng-src="Content/images/img1.jpg" alt=""/></p>
                        <h4>补胎工具套装</h4>
                        <span>￥9.9元<small><strike>1.44万</strike></small></span>
                    </li>
                    <li>
                        <p><img ng-src="Content/images/img3.jpg" alt=""/></p>
                        <h4>补胎工具套装</h4>
                        <span>￥9.9元<small><strike>1.44万</strike></small></span>
                    </li>
                </ul>
            </div>
        </div>
        <h2>活动专区<span class="mr15">更多活动<i class="fa fa-angle-right ml10"></i></span></h2>

        <div class="activity clearfix">
            <dl class="col-xs-4">
                <dt>
                <h4>测身价炫富</h4>
                <span>身价大PK</span>
                </dt>
                <dd><i class="fa fa-file-word-o"></i></dd>
            </dl>
            <dl class="col-xs-4">
                <dt>
                <h4>全场0利润</h4>
                <span>购车无压力</span>
                </dt>
                <dd><i class="fa fa-cab"></i></dd>
            </dl>
            <dl class="col-xs-4">
                <dt>
                <h4>好车分期</h4>
                <span>定制专属方案</span>
                </dt>
                <dd><i class="fa fa-ambulance"></i></dd>
            </dl>
        </div>
    </div>
    <div class="content">
        <h2>猜你喜欢<span>更多<i class="fa fa-angle-right"></i></span></h2>

        <div class="matter clearfix">
            <dl class="col-xs-6">
                <dt><img ng-src="Content/images/img_1.jpg" alt=""/></dt>
                <dd>
                    <h4>上汽大众-全新旅途L</h4>

                    <p>上汽大众-全新旅途L享2年0利润</p>
                    <span>1元 <small><strike>1.44万</strike></small></span>
                </dd>
            </dl>
            <dl class="col-xs-6">
                <dt><img ng-src="Content/images/img1.jpg" alt=""/></dt>
                <dd>
                    <h4>上汽大众-全新旅途L</h4>

                    <p>上汽大众-全新旅途L享2年0利润</p>
                    <span>1元 <small><strike>1.44万</strike></small></span>
                </dd>
            </dl>
            <dl class="col-xs-6">
                <dt><img ng-src="Content/images/img_2.jpg" alt=""/></dt>
                <dd>
                    <h4>上汽大众-全新旅途L</h4>

                    <p>上汽大众-全新旅途L享2年0利润</p>
                    <span>1元 <small><strike>1.44万</strike></small></span>
                </dd>
            </dl>
            <dl class="col-xs-6">
                <dt><img ng-src="Content/images/img_3.jpg" alt=""/></dt>
                <dd>
                    <h4>上汽大众-全新旅途L</h4>

                    <p>上汽大众-全新旅途L享2年0利润</p>
                    <span>1元 <small><strike>1.44万</strike></small></span>
                </dd>
            </dl>
        </div>
    </div>
</section>