<footer class="footer">
    <div class="page">
        <dl>
            <dt><i class="fa fa-university"></i></dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-plus-square-o"></i></dt>
            <dd>论坛</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-car"></i></dt>
            <dd>选车</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-arrows-alt"></i></dt>
            <dd>发现</dd>
        </dl>
        <dl>
            <dt><i class="fa fa-user-o"></i></dt>
            <dd>未登录</dd>
        </dl>
    </div>
</footer>